# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alexa\Jottacloud\Skole Arbejde\SDU - Software Ingenør\Semesterprojekter\1. Semesterprojekt\zuul-framework\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
